@use 'variables';

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: variables.$color-accent;
  color: variables.$color-text;
  font-weight: 600;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-family: serif;
}

.btn:hover {
  transform: opacity(0.9);
}
