@use 'variables';

.tools-section {
  padding: 60px 20px;
  background-color: variables.$color-background;
}

.grid-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tool-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  // transition: transform 0.3s, box-shadow 0.3s;
}

.tool-card img {
  max-width: 100%;
  max-height: 100%;
}

// .tool-card:hover {
//   transform: scale(1.1);
//   box-shadow: 0 0 15px gold;
// }
