@use 'variables';

.works-section {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
  background-color: variables.$color-primary;
}

.grid-works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: variables.$color-secondary;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0 0 15px variables.$color-accent-border;
  transition: transform 0.3s, box-shadow 0.3s;
  &__image-frame {
    display: flex;
    width: 90%;
    height: auto;
  }
  &__image {
    width: 100%;
  }
  &__description {
    text-align: left;
  }
  &__lower {
    flex-direction: row;
    justify-content: space-between;
  }

}

.work-card:hover {
  box-shadow: 0 0 40px variables.$color-accent-border;
  border: 1px solid variables.$color-accent-border;
}
