@use 'variables';

.lang-switch {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: sans-serif;
  color: variables.$color-text;
  font-size: 26px;
}

.lang-switch button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.2s ease;
}

.lang-switch button.active {
  font-weight: 700;
  text-decoration: underline;
}

.lang-switch button:hover {
  opacity: 0.8;
}
