@use 'variables';
@use 'states' as *;

.navbar-container {
  position: sticky;
  top: 1%;
  left: 0%;
  z-index: 999;
  width: 100%;
  padding-inline: 20px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  background: variables.$color-secondary;
  border-radius: 20px;
  border: 1px solid variables.$color-accent-border;
  max-width: 1200px;
  width: 100%;
  box-shadow: 0 2px 5px variables.$color-accent-border;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-inline: 20px;
  padding: 10px;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem 0px;
    .nav-left {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      .nav-logo {
        display: flex;
        height:60px;
        width: auto;
      }
    }
    .nav-right {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }
  }

  .nav-links {
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      color: variables.$color-text;
      font-weight: 500;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;

    .bar {
      height: 3px;
      width: 100%;
      background: variables.$color-text;
      transition: 0.3s;

      &.open:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
      }
      &.open:nth-child(2) {
        opacity: 0;
      }
      &.open:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
      }
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }

  .mobile-menu {
    position: fixed;
    top: 80px;
    right: -40%;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    background-color: variables.$color-secondary;
    box-shadow: 0 5px 15px variables.$color-accent-border;
    border-radius: 20px;
    border: 1px solid variables.$color-accent-border;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 998;
    width: 150px;
    text-align: right;
    a {
      padding: 0.5rem 0;
      text-decoration: none;
      color: variables.$color-text;
      font-weight: 500;
    }
  }
  .mobile-menu.s-right-in {
    transform: translateX(0);
    top: 100px;
    right: 5%;
  }

}
