.App {
    position: relative;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main-container {
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;
  max-width: 1240px;
  display: flex;
  flex-direction: column;

}